*{ margin: 0;
padding: 0;
box-sizing: border-box;


}
header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    padding-top: 0;
    font-size: 100%;
   
    
  
   
}
body{
    margin-top: 3%;
    background-color: rgb(255, 255, 255);
}
section {
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-left: auto;
    margin-top: 4%;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    width: 90%;
    /*align-items:center ;*/
    justify-content: center;
    
  }
  
  .flex-container > div {
    background-color: #ffffff;
    margin: 0px;
    padding: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
  }


img {
    width: 300px;
    height: auto;
   
}

